<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>Africa Business Local Knowledge</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="header">
      <h3><a href="/">Africa Business Knowledge</a></h3>
    </div>
    
    <div class="menu">
      <% if user_signed_in? %>
        <div class="user_nav grid-6">
          <%= link_to "Logout", destroy_user_session_path, method: :delete %>
         
        </div>
      <% else %>
        <div class="grid-6">
          <%= link_to "Login", new_user_session_path, class: "post" %>
          <%= link_to "New Registar", new_user_registration_path, class: "post" %>
        </div>
      <% end %>
    </div>
    
    <%= yield %>
    <script src="js/jquery-3.3.1.slim.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
  </body>
  
  <footer>
    <p>
      Copyright Africa Busniess Knowledge 2020.
    </p>
  </footer>
</html>
